In [ ]:
# PyCity Schools Analysis

In [2]:
# Dependencies and Setup
import pandas as pd

# Files
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_file)
student_df = pd.read_csv(student_file)

# Combine the data into a single dataset.  
school_complete_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
#District Summary

In [6]:
# Calculate the total number of unique schools
school_count = school_complete_df.value_count()
school_count

AttributeError: 'DataFrame' object has no attribute 'value_count'